.settings-tab__header {
    padding: 1rem 1rem;
    font-size: 2.5em;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    font-weight: bold;
    flex: 0 0 auto;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-tab__header span {
    font-size: 1em;
}

@media (min-width: 1024px) {
    .settings-tab__header {
        display: none;
        justify-content: center;
    }
}

#close-settings-tab {
    font-size: 0.75em;
}

/* Accessibility Button */

a#skip-to-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    transition: all 125ms ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

a#skip-to-main:not(:focus) {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

a#skip-to-main:focus {
    opacity: 1;
    outline: none !important;
    border: none !important;
}

a#skip-to-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a#skip-to-main > span {
    padding: 2em;
    border: 5px dashed white;
    font-size: 1.5em;

    z-index: inherit;
}

/* Container for filter-components */

.filters-container {
    flex: 1 0 0;
    padding-top: 0.5em;
    overflow: auto;
    scrollbar-width: none;
}

.filters-container::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1024px) {
    .filters-container {
        padding-top: 0;
    }
}

/*-------------------------------*/
/*        POPUP COMPONENTS       */
/*-------------------------------*/

.popup-component {
    --popup-height: 100px;
    margin: 0 1rem;
    margin-bottom: 1em;
    display: grid;
    gap: 2px;
    overflow: hidden;
    opacity: 0;
    height: auto;
}

#pwa-install-popup { --popup-hue: 195; }
#data-download-popup { --popup-hue: 0; }

.popup-component.popup--shown {
    height: 0;
    animation: show-popup 250ms linear forwards 250ms;
}

@keyframes show-popup {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        height: var(--popup-height);
    }
}

.popup-component > * {
    width: 100%;
    flex: 0 0 auto;
}

.popup-header {
    color: hsl(var(--popup-hue), 100%, 75%);
    font-size: 100;
    font-size: 0.5em;
}

.popup-contents {
    position: relative;
    padding: 0.5em;
    background-color: hsl(var(--popup-hue), 100%, 5%);

    display: grid;
    justify-items: center;
}

.popup-divider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1px;
    height: 1px;
    background-color: hsl(var(--popup-hue), 100%, 10%);
}

.popup-divider.popup-divider--horizontal {
    left: 0;
    width: 100%;
    flex-direction: row;
}

.popup-divider.popup-divider--vertical {
    top: 0;
    height: 100%;
    flex-direction: column;
}

.popup-divider.popup-divider--top { top: 0; }
.popup-divider.popup-divider--bottom { bottom: 0; }
.popup-divider.popup-divider--left { left: 0; }
.popup-divider.popup-divider--right { right: 0; }

.popup-divider::before, .popup-divider::after {
    content: '';
    flex: 0 0 8%;
    height: 100%;
    width: 100%;
    background-color: hsl(var(--popup-hue), 100%, 75%);
}

.popup-title {
    margin-bottom: 0.25em;
    font-size: 1.5em;
    text-align: center;
    color: hsl(var(--popup-hue), 100%, 75%);
    text-transform: uppercase;
    font-weight: 300;
}

.popup-description {
    margin: 0.25em 0;
    padding: 0 0.25em;
    color: hsl(var(--popup-hue), 100%, 75%);
    font-size: 0.75em;
    font-weight: 300;
    text-align: center;
}

.popup-description > b {
    font-weight: 500;
}

.popup-cta {
    margin: 0.25em 0;
    padding: 0.5em 0.25em;
    user-select: none;
    width: 90%;
    font-weight: 500;
    font-size: 1em;
    background-color: hsla(var(--popup-hue), 100%, 75%, 75%);
    color: black;
    text-transform: uppercase;
    text-align: center;
}

/* PWA Install Popup */

@media (display-mode: standalone), (min-width: 1024px) {
    #pwa-install-popup {
        display: none;
    }
}

/* Data Download Popup */

@media (min-width: 1024px) {
    #data-download-popup {
        opacity: 1;
        height: auto !important;
        animation: none;
    }

    #data-download-popup .popup-cta {
        cursor: pointer;
    }
}

/*-------------------------------*/
/*       FILTER COMPONENTS       */
/*-------------------------------*/

.filter-component {
    --filter-hue: 0;
    --filter-hsl: hsl(var(--filter-hue), 80%, 70%);

    position: relative;
    margin: 0 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 1rem;
    border-radius: var(--section-border-radius);
    background-color: hsl(var(--filter-hue), 100%, 5%);
}

.filter-component[value="year"] { --filter-hue: var(--hue-year); }
.filter-component[value="hostel"] { --filter-hue: var(--hue-hostel); }
.filter-component[value="degree_be"] { --filter-hue: var(--hue-degree-be); }
.filter-component[value="degree_msc"] { --filter-hue: var(--hue-degree-msc); }
.filter-component[value="degree_h"] { --filter-hue: var(--hue-degree-h); }
.filter-component[value="gender"] { --filter-hue: 300; }

@media (min-width: 1024px) {
    .filter-component {
        margin-left: 0;
        margin-right: 0;
    }
}

.filter-component > header {
    position: relative;
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--filter-hsl);
}

.filter-component path {
    fill: var(--filter-hsl);
}

.select-all-toggles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75em;
    right: 0;
    outline-color: var(--filter-hsl) !important;
}

.filter-component .underscore {
    --underscore-color: var(--filter-hsl);
}

.filter-row {
    position: relative;
}

.filter-toggle {
    position: relative;
    margin-top: 0.25em;
    margin-right: 0.25em;
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    border: solid 1px hsla(var(--filter-hue), 100%, 75%, 50%);
    border-radius: var(--natural-border-radius);
    color: var(--filter-hsl);
    display: inline-block;

    outline-color: var(--filter-hsl) !important;
}

.filter-toggle.selected {
    font-weight: 900;
    background-color: var(--filter-hsl);
    color: black !important;
}

/* Footer */

.footer {
    position: relative;
    margin: 0 0.5em;
    margin-bottom: 0.5em;
    padding: 1em 1rem;
    background-color: hsl(57, 0%, 5%);
    border-radius: var(--section-border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 300;
}

.footer__icons {
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    height: 1em;
    width: 1em;
}

.footer__icon svg * {
    fill: #ccc;
}

.footer__credit {
    padding: 0.5em;
    flex: 1 0 0;
    color: #ccc;
}

.footer__credit span {
    text-decoration: underline;
    color: cyan;
}