* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
}

:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 500;
    
    /*********************************/
    /*           VARIABLES           */
    /*********************************/

    /* Border Radii */
    --natural-border-radius: 5px;
    --section-border-radius: 15px;
}

.hue--year { --hue: 0; };
.hue--hostel { --hue: 100; };
.hue--degree_be { --hue: 175; };
.hue--degree_msc { --hue: 210; };
.hue--degree_h { --hue: 250; };
.hue--pfp { --hue: 195; };
.hue--bday { --hue: 57; };
.hue--cgpa { --hue: 30; };
.hue--blood { --hue: 0; };
.hue--gender { --hue: 300; };
.hue--phone { --hue: 30; };
.hue--address { --hue: 170; };

:root.font-loaded {
    font-family: 'Inconsolata', monospace;
}

@media (max-width: 360px) {
    :root {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    :root {
        font-size: 22px;
    }
}

@media (min-width: 1250px) {
    :root {
        font-size: 25px;
    }
}

html, body {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

body {
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    position: relative;
}

@media (min-width: 1024px) {
    body {
        height: 100vh;
    }
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;

    overflow: hidden;
}