:root {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

@media (min-width: 985px) {
    :root {
        font-size: 25px;
    }
}

.bkg-icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    height: -moz-fill-available;
    height: -webkit-fill-available;
    height: fill-available;
}

body {
    min-height: 100%;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    position: relative;
}

img {
    height: 100%;
}

/* Actual Page Content */

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}

#filters-tab, #results-tab {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
}

@media (min-width: 985px) {
    #filters-tab, #results-tab {
        position: relative;
        height: 100vh;
    }
    
    #filters-tab {
        width: 40%;
    }
    
    #results-tab {
        width: 60%;
    }
}

/* Filters Tab */

#filters-tab {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    z-index: 2;
    transition: left 250ms ease;
}

#filters-tab.hidden {
    left: -100%;
}

@media (min-width: 985px) {
    #filters-tab.hidden {
        left: 0;
    }
}

.filters-tab__child {
    width: 100%;
}

.filters-tab__header {
    font-weight: 900;
    /* text-align: center; */
    font-size: 2em;
    padding: 0.25em;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters-tab__header > img {
    height: 0.75em;
    filter: invert(1);
    aspect-ratio: 1 / 1;
}

@media (min-width: 985px) {
    .filters-tab__header {
        font-weight: 900;
        text-align: center;
        font-size: 3em;
        padding: 0.5em;
        display: block;
    }
    
    .filters-tab__header > img {
        display: none;
    }
}

/* #filters-tab >  */
#filters-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    gap: 10px;
    overflow: auto;
}

#filters-container::-webkit-scrollbar {
    display: none;
}

.filter-section {
    --lightness: 50%;
    --saturation: 75%;
    --hue: 0;
    --filter-accent: hsl(var(--hue), var(--saturation), var(--lightness));
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

[category="year"] {--hue: 150;}
[category="hostel"] {--hue: 30;}
[category="degree_be"] {--hue: 210;}
[category="degree_msc"] {--hue: 270;}
[category="degree_h"] {--hue: 310;}

.filter-section__header {
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-section__header > button {
    all: unset;
    display: flex;
    filter: invert(0.5);
    height: .75em;
    object-fit: contain;
}

@media (min-width: 985px) {
    .filter-section__header > button {
        cursor: pointer;
    }
}

.filter-toggle-container {
    /* For the gap */
    margin-top: 1em;
}

.filter-toggle {
    user-select: none;
    margin-right: 5px;
    margin-bottom: 5px;
    border: solid var(--filter-accent) 2px;
    font-size: 0.70em;
    border-radius: 0.75em;
    padding: 0.5em;
    padding-bottom: calc(0.5em + 0px);
    display: inline-block;
}

@media (min-width: 985px) {
    .filter-toggle {
        transition: 100ms ease;
        transition-property: color, background-color;
        cursor: pointer;
    }
}

.filter-toggle.selected {
    background-color: var(--filter-accent);
    color: black;
}

/* Footer for credits and shit */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 0.75em;
}

#version, #credits {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}

#version {
    padding: 0.5em 1em;
    margin-right: 10px;
}

#credits {
    font-weight: 100;
    width: 100%;
}

/* RESULTS TAB */

#results-tab {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.results-tab__child + .results-tab__child {
    margin-top: 10px;
}

#results-tab > header {
    flex: 0 0 auto;
    font-weight: 900;
    font-size: 2em;
    padding: 0.25em;
    height: calc(2em - 0.25em/2); /*For consistency with filters tab*/
    overflow: hidden;
    /* background-color: antiquewhite; */
    
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 1em;
}

.filters-tab-button {
    height: 1em;
    background-size: 75%;
    filter: invert(1);
    aspect-ratio: 1 / 1;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters-tab-button img {
    height: 100%;
}

.search-input-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    border: solid rgb(128, 128, 128) 2px;
    transition: border-color 250ms ease;
}

.search-input-container:focus-within {
    border-color: #efefef;
}

.input-search {
    font-family: inherit;
    font-size: 0.75em;
    font-weight: 900;
    background-color: transparent;
    border: none;
    border-radius: inherit;
    height: 100%;
    outline: none;
    color: white;
    text-align: center;
    width: 100%;
}

.input-search::placeholder {
    text-transform: uppercase;
    color: rgb(128, 128, 128);
}

.search-input-clear {
    height: 1em;
    width: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
    background: url(./static/images/icons/cross.png) center/50% no-repeat;
    filter: invert(0.5);
}

.input-search:placeholder-shown + .search-input-clear {
    background-image: url(./static/images/icons/search.png);
}

@media (min-width: 720px) {
    .search-input-clear {
        cursor: pointer;
    }
}

@media (min-width: 985px) {
    #results-tab > header {
        font-weight: 900;
        text-align: center;
        font-size: 3em;
        padding: 0.5em;
        height: calc(3em - 1.25em/2); /*For consistency with filters tab*/
        grid-template-columns: 1fr;
    }
    
    .filters-tab-button {
        display: none;
    }
}

#result-options {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

#result-options > .result-option {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px) {
    #result-options > .result-option {
        cursor: pointer;
    }
}

.result-option::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(206, 231, 255);
    mix-blend-mode: multiply;
}

.result-option > img {
    filter: invert(1);
    aspect-ratio: 1 / 1;
    height: 1em;
    margin-right: 0.5em;
}

#results-tab > #results-container {
    height: 100%;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    --scrollbar-width: 4px;

    scrollbar-width: var(--scrollbar-width);
}

#results-container::-webkit-scrollbar {
    border-radius: 999px;
    width: var(--scrollbar-width);
    background-color: black;
}

#results-container::-webkit-scrollbar-thumb {
    border-radius: 999px;
    background-color: rgb(64, 64, 64);
}

.student {
    flex: 0 0 auto;
    width: 100%;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    clip-path: polygon(
        20px 0,
        100% 0,
        100% 100%,
        0 100%,
        0 20px
    );
}

.student + .student {
    margin-top: 5px;
}

.student-child + .student-child {
    margin-left: 5px;
}

.student-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 100%;
}

.student-place {
    color: hsl(30, 100%, 50%);
    font-size: 0.95em;
}

.student-place__hostel {
    text-align: center;
}

.student-place__room {
    text-align: center;
    font-size: 1.25em;
}

.student-year {
    font-size: 0.9em;
    color: hsl(150, 100%, 50%);
}

.student-info {
    width: 100%;
}

.student-info__name {
    font-size: 1.25em;
}

.student-info__branch {
    color: hsl(210, 100%, 75%);
}

.student-info__id {
    font-size: 0.75em;
    color: hsl(180, 100%, 30%);
}

/* Load More Button */

#load-more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 0.5em;
    width: 90%;
    margin-top: 0.5em;
    border-radius: inherit;
    align-items: center;
    background-color: hsl(50, 75%, 50%);
    font-weight: 900;
    color: black;
}